@use '../abstracts' as *;

.app-wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 67px 1fr 67px;
	width: 100%;
	height: 100dvh;
	max-width: 1440px;

	@include media('sm') {
		background: #000000;
	}
}
