.bg {
	&__wrapper {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100dvh;
		overflow: hidden;
	}

	&__img {
		object-fit: cover;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
	}

	&__overlay {
		background: var(--bg-overlay);
		position: absolute;
		inset: 0;
		backdrop-filter: blur(2.6px);
		filter: drop-shadow(
			-10px -10px 10px var(--shadow-color-1),
			-5px -5px 5px var(--shadow-color-2)
		);
		background-blend-mode: soft-light;
	}
}
