body {
	background-color: var(--black-600);
	height: 100dvh;
	font-family: 'Manrope';
	font-size: 1rem;
}

.app-header,
.app-footer {
	z-index: 10;
	background: var(--bg-surface);
	&__content {
		padding: 8.5px 0;
	}
}
