:root {
	--black-050: #141414;
	--black-100: #262626;
	--black-150: #333333;
	--black-200: #575757;
	--black-225: #666666;
	--black-250: #737373;
	--black-300: #8c8c8c;
	--black-350: #a6a6a6;
	--black-400: #d9d3ce;
	--black-500: #f2ede9;
	--black-600: #ffffff;
	--black-700: rgb(32, 28, 29);
}
