:root {
	--black-050: hsl(0, 0%, 7%);
	--black-100: hsl(0, 0%, 15%);
	--black-150: hsl(0, 0%, 20%);
	--black-200: hsl(0, 0%, 34%);
	--black-225: hsl(0, 0%, 40%);
	--black-250: hsl(0, 0%, 45%);
	--black-300: hsl(0, 0%, 55%);
	--black-350: hsl(0, 0%, 65%);
	--black-400: hsl(27, 13%, 83%);
	--black-500: hsl(27, 26%, 93%);
	--black-600: hsl(0, 0%, 100%);
	--black-700: hsl(345, 7%, 12%);

	--border-color: hsla(27.64deg 88.08% 59.28% 59.28% / 15%);
	--border-color-hover: hsl(0, 0%, 40%);
	--border-color-focus: hsl(0, 0%, 45%);

	--bg-surface: hsla(0, 5%, 37%, 0.09);
	--bg-overlay: hsla(345, 7%, 12%, 0.08);

	--shadow-color-1: hsla(233.8deg 12.56% 7.47% / 133%);
	--shadow-color-2: hsla(344, 89%, 48%, 0.953);
	--shadow-color-3: hsla(240, 1%, 14%, 0.596);
}
